.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* esercizio responsive */

/* ESERCIZIO BONUS */
@media screen and (max-width: 820px) {

  .row {
    width: 100%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 100px; */
  }

  /* BLOCCO LEZIONI */
  #lezioni h1 {
    text-align: center;
    width: 100%;
    /* margin-left: 7%; */
  }

  #lezioni .row>.right {
    width: 50%;
    float: left;
    padding-top: 3.5%;
  }


  #lezioni .row>.left {
    width: 50%;
    float: left;
  }

  #lezioni img {
    height: auto;
    width: 200px;
    margin-left: 10%;
  }

  /* BLOCCO STEPS */
  #steps h1 {
    text-align: center;
    width: 150%;
    /* margin-left: 10%; */
  }

  #steps .row>.left {
    float: left;
    width: 33,33%;
  }

  #steps .row>.central {
    float: left;
    width: 33,33%;
  }

  #steps .row>.right {
    float: left;
    width: 33,33%;
  }

  #steps img {
    height: auto;
    width: 90px;
  }

}
@media screen and (max-width: 638px) {


  /* BLOCCO LEZIONI */
  #lezioni h1 {
    text-align: center;
    width: 100%;
    /* margin-left: 7%; */
  }

  #lezioni .row>.right {
    width: 50%;
    float: left;
    padding-top: 3.5%;
  }


  #lezioni .row>.left {
    width: 50%;
    float: left;
  }

  #lezioni img {
    height: auto;
    width: 150px;
    margin-left: 10%;
  }

  /* BLOCCO STEPS */
  #steps h1 {
    text-align: center;
    width: 150%;
    /* margin-left: 10%; */
  }

  #steps .row>.left {
    float: left;
    width: 33,33%;
  }

  #steps .row>.central {
    float: left;
    width: 33,33%;
  }

  #steps .row>.right {
    float: left;
    width: 33,33%;
  }

  #steps img {
    height: auto;
    width: 90px;
  }

}

@media screen and (max-width: 419px) {

  /* BLOCCO LEZIONI */
  #lezioni h1 {
    text-align: center;
    width: 100%;
    /* margin-left: 7%; */
  }

  #lezioni .row>.right {
    width: 50%;
    float: left;
    padding-top: 3.5%;
  }


  #lezioni .row>.left {
    width: 50%;
    float: left;
  }

  #lezioni img {
    height: auto;
    width: 100px;
    margin-left: 10%;
  }

  /* BLOCCO STEPS */
  #steps h1 {
    text-align: center;
    width: 100%;
    /* margin-left: 10%; */
  }

  #steps .row>.left {
    float: left;
    width: 33,33%;
  }

  #steps .row>.central {
    float: left;
    width: 33,33%;
  }

  #steps .row>.right {
    float: left;
    width: 33,33%;
  }

  #steps img {
    height: auto;
    width: 90px;
  }

    /* BLOCCO PERCHE */
    /* #why {
      text-align: center;
    }

    #why .row>.first,
    #why .row>.second,
    #why .row>.third {
      width: 40%;
      margin-top: 80px;
    }

    #why .row img {
      background-color: #428bca;
      border-radius: 50%;
      padding: 30px
    } */
}

  @media screen and (max-width: 287px) {
    .row {
      width: 100%;
      /* margin-left: auto;
      margin-right: auto;
      margin-top: 100px; */
    }

    /* BLOCCO LEZIONI */
    #lezioni h1 {
      text-align: center;
      width: 100%;
      /* margin-left: 7%; */
    }

    #lezioni .row>.right {
      width: 100%;
      float: left;
      margin-top: 15%;
      /* padding-top: 3.5%; */

    }


    #lezioni .row>.left {
      width: 100%;
      float: left;
      margin-top: 15%;
    }

    #lezioni img {
      height: auto;
      width: 100px;
      margin-left: 10%;

    }

    /* BLOCCO STEPS */
    #steps h1 {
      text-align: center;
      width: 100%;
      /* margin-left: 10%; */
    }

    #steps .row>.left {
      float: left;
      width: 100%;
      margin-top: 15%;
    }

    #steps .row>.central {
      float: left;
      width: 100%;
      margin-top: 15%;
    }

    #steps .row>.right {
      float: left;
      width: 100%;
      margin-top: 15%;
    }

    #steps img {
      height: auto;
      width: 90px;
    }

  }

    @media screen and (max-width: 268px) {
      #why img {
        height: auto;
        width: 150px;
      }
    }

    @media screen and (max-width: 218px) {
      #why img {
        height: auto;
        width: 40px;
      }
    }

    @media screen and (max-width: 108px) {
      #why img {
        height: auto;
        width: 40px;
        padding: 2px 2px;
      }
    }
